option_settings:
  # Put environment variables common to all environments here (web/worker, dev/prod)
  # Sensitive, tier-/stage-specific env. vars (e.g., database connection info and Django
  # secret key) should go in S3.
  # Non-sensitive, tier-/stage-specific env. vars should go into saved configurations
  #  which the environments should reference during creation using the --cfg option.
  aws:elasticbeanstalk:application:environment:

    # These don't control the user/group, this is just a single place to define them
    EB_CONFIG_APP_USER: wsgi
    EB_CONFIG_APP_GROUP: wsgi
    EB_CONFIG_APP_CURRENT: /opt/python/current/app

    # Where the EFS file system will be mounted
    MOUNT_DIRECTORY: /newsdiffs-efs

    # This is where articles are stored
    ARTICLES_DIR_ROOT: $MOUNT_DIRECTORY/articles/

    CONFIG_S3_BUCKET: newsdiffs-config
