# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-general.html
option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    RetentionInDays: 30
  aws:elasticbeanstalk:managedactions:
    ManagedActionsEnabled: true
    PreferredStartTime: "Sat:06:00"
  aws:elasticbeanstalk:managedactions:platformupdate:
    # Other option is minor.  We might set minor on dev
    UpdateLevel: patch
    # Runs an immutable update every week regardless of update availability
    InstanceRefreshEnabled: true

packages:
  yum:
    # Required by both web and worker
    git: []

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/ensure_logfile_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      . /opt/python/current/env

      # Ensure the log file has correct owner
      # For some reason if mod_wsgi creates this file owner is root:root
      if [ ! -e $LOG_FILE_PATH ]; then
        touch $LOG_FILE_PATH
      fi
      chown $EB_CONFIG_APP_USER:$EB_CONFIG_APP_GROUP $LOG_FILE_PATH

      mkdir -p $CONTINUOUS_SCRAPER_RUN_DIR
      chown $EB_CONFIG_APP_USER:$EB_CONFIG_APP_GROUP $CONTINUOUS_SCRAPER_RUN_DIR

  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_scrape_continuously.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/python/current/env
      cd $EB_CONFIG_APP_CURRENT
      if [ -z $CONTINUOUS_SCRAPER_RUN_DIR ]; then
        su -c "/opt/python/run/venv/bin/python continuous_scraper.py" $EB_CONFIG_APP_USER
      fi

container_commands:
  01_django_syncdb:
    command: "python django_project/manage.py syncdb --noinput"
    leader_only: true
  02_django_migrate:
    command: "python django_project/manage.py migrate --noinput"
    leader_only: true
