# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-general.html
option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    RetentionInDays: 30

packages:
  yum:
    # Required by both web and worker
    git: []

files:
  "/home/ec2-user/setup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # Ensure the log file has correct owner
      # For some reason if mod_wsgi creates this file owner is root:root
      if [ ! -e $LOG_FILE_PATH ]; then
        touch $LOG_FILE_PATH
        chown wsgi:wsgi $LOG_FILE_PATH
      fi

container_commands:
  01_django_syncdb:
    command: "python website/manage.py syncdb --noinput"
    leader_only: true
  02_django_migrate:
    command: "python website/manage.py migrate --noinput"
    leader_only: true
commands:
  01_setup:
    command: "/home/ec2-user/setup.sh"
