# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-general.html
option_settings:
  aws:elasticbeanstalk:container:python
    WSGIPath: website/wsgi.py
    NumProcesses: 2
  aws:elasticbeanstalk:container:python:staticfiles
    /static: website/static
  aws:elasticbeanstalk:cloudwatch:logs
    StreamLogs: true
    RetentionInDays: 30
container_commands:
  01_django_syncdb:
    command: "django-admin.py syncdb --no-input"
    leader_only: true
  02_django_migrate:
    command: "django-admin.py migrate --no-input"
    leader_only: true
  03_django_createcachetable:
    command: "django-admin.py createcachetable"
    leader_only: true
  04_ensure_articles_dir:
    command: "mkdir -p /newsdiffs-efs/articles"
    leader_only: true
